@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'roboto' sans-serif;

}

body {
    background-color: rgb(249, 230, 220);
    height: auto;
    width: auto;
}

#header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 156, 118);
    left: 0%;
    top: 0px;
    z-index: 1;
    color: black;
}

#header img {
    position: relative;
    border-radius: 10px;
    width: 74px;
    top: 18px;
    left: 40px;
}

#header h2 {
    position: relative;
    bottom: 25px;
    left: 120px;
    color: black;
    font-size: 3em;
}

.rightbar {
    position: fixed;
    left: 56%;
    top: 19px;
    text-align: center;
    font-size: 28px;
    word-spacing: 23px;
}

.rightbar a {
    scroll-behavior: smooth;
    color: black;

}

.login {
    position: fixed;
    top: 1.1%;
    right: 3%;
    word-spacing: 31px;
    font-size: 24px;
}

.login a {
    text-decoration: none;
    font-size: 28px;
    border: 1px solid;
    border-radius: 25px;
    background-color: #e9b047;
}

.login input[type=text],
.login input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.login input[type=text]:focus,
.login input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Установите стиль для всех кнопок */
.login button {
    background-color: #7a74bd;
    color: white;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 130px;
    opacity: 0.9;
    height: 40px;
    border-radius: 20px;
}

.login button:hover {
    opacity: 1;
}

/* Дополнительные стили для кнопки Отмена */
.login .cancelbtn {
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.login .cancelbtn,
.login .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.login .container {
    padding: 16px;
}

/* Модальный (фон) */
.login .modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Оставаться на месте */
    z-index: 1;
    /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включите прокрутку, если это необходимо */
    padding-top: 50px;
}

/* Модальное содержание/бокс */
.login .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% сверху, 15% снизу и по центру */
    border: 1px solid #888;
    width: 40%;
    /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Style the horizontal ruler */
.login hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Кнопка закрытия (x) */
.login .close {
    position: absolute;
    right: 580px;
    top: 144px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    z-index: 1;
    opacity: .5;
}

.login .close:hover,
.login .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.login .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

.post1 {
    width: 100%;
    height: 56vh;
    background-color: green;
    position: relative;
    top: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/challenges_post1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.post1 .post1_text {
    text-align: left;
    width: fit-content;
    padding-top: 167px;
    padding-left: 50px;
    color: white;
}

.post2--challenges{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    margin-top: 103px;
}
.challenge-active{
    border: 1px solid black;
    width: 23%;
    margin: 0 auto;
    margin-top: 35px;
    height: 430px;
}
.challenge-active img { 
    width: 100%;
    height: 55%;
}
.challenge-text{
    width: fit-content;
    margin-top: 10px;
    margin-left: 35px;
}
.challenge-text a{
    text-decoration: none;
    color: white;
}
.challenge-text button{
    border-radius: 18px;
    color: white;
    width: 100px;
    height: 35px;
    border: none;
    transition: .5s;
    background-color: rgb(129, 75, 231);
    
}
.challenge-text button:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
    border:none;
}
footer {
    width: 93%;
    height: 300px;
    position: relative;
    left: 66px;
    bottom: -60px;
    margin-bottom: 25px;
}

footer .left_side_footer {
    width: 16%;
    height: 100%;
    color: black;
    border: 1px solid black;
}

footer .left_side_footer h5 {
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
    font-size: 18px;
    
    height: 100%;
    width: fit-content;

    margin-left: 99px;
    padding-top: 24px;
}

footer .left_side_footer h5 a {
    color: black;
    text-decoration: none;
}
footer .left_side_footer h5 a:hover {
    color: black;
    text-decoration: none;
}

footer .center_side_footer {
    width: 66%;
    height: 100%;
    background-color: white;
    position: absolute;
    bottom: 0%;
    left: 16.1%;
}

footer .center_side_footer .footer_input h5, h6 {
    font-size: 22px;
    color: black;
}

footer .center_side_footer .footer_input {
    position: relative;
    top: 25%;
    left: 25%;
}

footer .center_side_footer .footer_input input {
    height: 55px;
}

footer .center_side_footer .footer_input button {
    width: 100px;
    height: 55px;
    border-radius: 28px;
    background-color: black;
    color: white;
    transition: .5s;
    border: none;
}

footer .center_side_footer .footer_input button:hover {
    background-color: rgb(133, 78, 195);
    transition: .5s;
    border: none;
}
footer .right_side_footer .footer_links {
    width: 17.15%;
    height: 100%;

    position: absolute;
    padding-left: 108px;
    padding-top: 4%;
    
    top: 0%;
    left: 82%;
    
    background-color: rgb(133, 78, 195);
}

footer .right_side_footer .footer_links .links {
    margin-top: 10px;
}






@media (min-width:992px) and (max-width:1025px){
    header .logo{
        width: fit-content;
        height: fit-content;
        margin-left: -20px;
        margin-top: -3px;
    }
    .rightbar{
        display: block;
        width: fit-content;
        left: 32%;
        word-spacing: 24px;
        top: 18px;
        font-size: 25px;
    }
    .login button{
        margin: 7px -9px 0 0;
    }
    .post1{
    width: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    }
    .post1_text{
        position: absolute;
        bottom: 40px;
    }
    .post1_text h1, h3{
        background: none;
    }
    .post2--challenges{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }
    .challenge-active{
        width: 40%;
    }







    footer{
        top: 25px;
        margin: 0 0 28px -32px;
    }

    .left_side_footer h5{
        position: absolute;
        left: -60px;
        top: 10px;
    }

    .center_side_footer .footer_input{
        margin-left: -88px;
    }

    footer .right_side_footer .footer_links{
        width: 18%;
        padding-left: 40px;
        padding-top: 8%;
    }
}