@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";


.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
    display: none;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #FFEFBA;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}











* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', roboto, sans-serif;

}

body {
    background-color: rgb(249, 230, 220);
    height: auto;
    width: auto;
}

#header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 156, 118);
    top: 0px;
    z-index: 1;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: fit-content;
}

#header img {
    width: 22%;    
}

#header h2 {
    margin: 0;

    font-size: 3em;
}


.rightbar {
    font-size: 28px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 58%;

}

.rightbar a {
    scroll-behavior: smooth;
    color: black;
    text-decoration: none;

}

.login {
    right: 0;
    word-spacing: 31px;
    font-size: 24px;
  }
  
  .login a {
    text-decoration: none;
    font-size: 28px;
    border: none;
    color: white;
}
  
  .login input[type=text],
  .login input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  .login input[type=text]:focus,
  .login input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Установите стиль для всех кнопок */
  .login button {
    background-color: #3573ff;
    color: white;
    margin: 6px 81px 6px 81px;
    border: none;
    cursor: pointer;
    width: 130px;
    opacity: 0.9;
    height: 40px;
    border-radius: 20px;
  }
  
  
  .login button:hover {
    opacity: 1;
  }
  
  /* Дополнительные стили для кнопки Отмена */
  .login .cancelbtn {
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .login .cancelbtn,
  .login .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .login .container {
    padding: 16px;
  }
  
  /* Модальный (фон) */
  .login .modal {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Оставаться на месте */
    z-index: 1;
    /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%;
    /* Полная ширина */
    height: 100%;
    /* Полная высота */
    overflow: auto;
    /* Включите прокрутку, если это необходимо */
    background-color: rgba(0, 0, 0, 35%);
  }
  
  /* Модальное содержание/бокс */
  .login .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% сверху, 15% снизу и по центру */
    border: 1px solid #888;
    width: 40%;
    /* Может быть больше или меньше, в зависимости от размера экрана */
  }
  
  /* Style the horizontal ruler */
  .login hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Кнопка закрытия (x) */
  .login .close {
    position: absolute;
    right: 580px;
    top: 111px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    z-index: 1;
    opacity: .5;
  }
  
  .login .close:hover,
  .login .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .login .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

.post1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img1.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    overflow: hidden;
    height: 94vh;
    color: white;
    margin-top: 62px;
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#post1_text {
    padding-top: 15px;
    /* position: unset; */
    animation: post1 2.5s 1;
    opacity: 1;
    width: fit-content;
    margin-left: 50px;
    margin-top: 62px;
}

@keyframes post1 {
    0% {
        position: absolute;
        margin-left: -150px;
        opacity: 0;
    }
}

#post1_text h1 {
    position: unset;
    /* display: block; */
    /* top: 26px; */
    font-family: roboto bold, roboto, sans-serif;
    font-size: 68px;
    /* left: 46px;  */
    /* width: 28%; */
}

#post1_text h4 {
    position: unset;
    /* top: 22%; */
    /* left: 46px; */
    font-size: 25px;
    word-spacing: 10px;
    margin: 0.3% 0 0 0;
}

#post1_text h5 {
    position: unset;
    /* top: 15px; */
    /* left: 45px; */
    /* width: 35%; */
    font-size: 17px;
    word-spacing: 3px;
    letter-spacing: 0px;
    line-height: 25px;
    margin: 0.8% 0 0 0;
}

#post1_text button {
    position: unset;
    width: 170px;
    height: 60px;
    margin: 3% 0 0 0;

    /*top: 4vh;
    */
    word-spacing: 4.5px;
    font-size: 17px;
    
    text-align: center;
    /*left: 5vh;
    */
    background-color: lightskyblue;
    border: 1px solid black;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    
    transition: 1s;
}

#post1_text button:hover {
    position: relative;
    /* width: 180px; */
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 19px;
    transition: 1.5s;
    background-color: #27cdd0e8;
    border: none;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}

.post1_text1 {
    width: 18%;
    background-color: white;
    height: 94vh;
    position: absolute;
    right: 0px;
    top: 62px;
    animation: post1_text1 3s 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

@keyframes post1_text1 {
    0% {
        position: absolute;
        right: -300px;
    }

}

.post1_text1 .challenge1 {
    height: 285px;
    color: black;
    border: 1px solid black;
    width: 81%;


}

.post1_text1 .challenge1 .text {
    width: 100%;
    font-family: roboto-bold, roboto, sans-serif;
    margin-left: 25px;
    font-size: 15px;
}

.post1_text1 .challenge1 button {
    border: 1px solid black;
    border-radius: 18px;
    color: white;
    width: 100px;
    height: 35px;
    position: relative;
    top: 15px;
    left: 83px;
    border: none;
    background-color: rgb(129, 75, 231);
}

.post1_text1 .challenge1 button:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
    border: none;
}

.post1_text1 .challenge2 {
    width: 81%;
    height: 285px;
    color: black;
    border: 1px solid black;

}

.post1_text1 .challenge2 .text {
    width: 100%;
    font-family: roboto-bold, roboto, sans-serif;
    margin-left: 16px;
    font-size: 14px;
}

.post1_text1 .challenge2 button {
    border: 1px solid black;
    border-radius: 18px;
    color: white;
    width: 100px;
    height: 35px;
    position: relative;
    top: 11px;
    left: 83px;
    background-color: rgb(129, 75, 231);
    border: none;
}

.post1_text1 .challenge2 button:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
    border: none;
}

.post1_text1 .challenge1 button {
    margin-left: 10px;
    border: none;
}

.post1_text1 .challenge2 button {
    margin-left: 10px;
    border: none;
}

.view_all_btn { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post1_text1 .view_all_btn a{
    text-decoration: none;
    width: 100%;
}
.post1_text1 .view_all_btn a .btn_block{
    color: black;
    width: 100%;
    height: 95px;
    background-color: rgb(255, 156, 118);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: top 25px;
}
.post1_text1 .view_all_btn a .btn_block:hover{
    background-color: rgb(49, 106, 223);
    color: white;
    transition: .4s;
}
.post1_text1 .view_all_btn .btn_block b{
    font-size: 27px;
    margin-top: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    
}
.post2 {
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 100%;
    position: unset;
    margin-top: 155px;
    margin-left: -20px;
}

.post2 .img2 {
    position: relative;
    width: 610px;
    height: 650px;
    left: 120px;
    bottom: 324px;
}

.post2_text {
    position: relative;
    left: 115vh;
    bottom: 50vh;
    width: 500px;
    top: 163px;
    opacity: 1;
}

.post2 #text1 {
    font-size: 48px;
    font-family: roboto-bold, roboto, sans-serif;
    color: #000000;
    position: unset;
    font-weight: 700;
}

.post2 #text2 {
    font-size: 21px;
    font-family: roboto-thin, roboto, sans-serif;
    width: 316px;
    height: 54px;
}

.post2 #text3 {
    color: #6e6e6e;
    font-size: 16px;
    font-family: roboto-thin, roboto, sans-serif;
    width: 390px;
    height: 119px;
    margin-top: 45px;
}

.post2 button {
    position: unset;
    width: 170px;
    /* top: 4vh; */
    word-spacing: 4.5px;
    text-align: center;
    /* left: 5vh; */
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
    background-color: lightskyblue;
    margin: 5% 6.3% 1% 2%;
    border: none;
}

.post2 button:hover {
    position: relative;
    /* width: 180px; */
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 19px;
    transition: 1.5s;
    background-color: #27cdd0e8;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
    border: none;
}

.post2_text2 {
    position: relative;
    bottom: 17vh;
    left: 120px;
    width: 600px;
    font-family: sans-serif;
}

.post2_text2 h1 {
    width: fit-content;
    height: 58px;
    font-family: roboto-bold, roboto, sans-serif;
    font-size: 48px;
}

.post2_text2 p {
    width: 550 px;
    height: 44 px;
    color: #6e6e6e;
    font-family: roboto-thin, roboto, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.trainers {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.trainers a {
    display: block;
    width: 712px;
    height: 948px;
    float: left;
    position: relative;
    line-height: 0;
    text-decoration: none;
    transition: 0.8s;

}

.trainers a:hover {
    transform: scale(0.986);
    transition: 0.5s;
}

.trainers a:after {
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.trainers a:hover:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100.1%;
    background: transparent;
    background-image: linear-gradient(180deg, rgba(107, 90, 221, 0), rgba(107, 90, 221, 1));
    opacity: 0.8;

}

.trainers a:before {
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.5s;

}

.trainers a:hover:before {
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    z-index: 100;
    opacity: 1;
    content: "trainers";

}

.trainers img {
    width: 100%;
    height: auto;
}

/* .trainers img #woman:hover::after{
    content: "First Trainer";
    width: 150px;
    height: 30px;

} */
.challenges {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.post3_text1 {
    width: 87%;
    height: 250px;
    color: #000000;
    font-family: roboto-bold, roboto, sans-serif;
    margin-top: 70px;
    padding-top: 62px;
    padding-left: 120px;
    text-align: left;
    animation: challenges 1s 1;
    opacity: 1;
}


.post3_text1 h1 {
    width: 550px;
    height: 58px;
    font-size: 48px;
}

.post3_text1 h6 {
    width: 580px;
    height: 44px;
    font-size: 16px;
    color: #6e6e6e;
    padding-top: 20px;
}

.post3_text1 button {
    position: relative;
    left: 89%;
    bottom: 130px;
    width: 170px;
    word-spacing: 4.5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
    background-color: lightskyblue;
    animation: btn 1s 1;
    opacity: 1;
    border: none;
}

.post3_text1 button:hover {
    position: relative;
    width: 195px;
    margin-left: -15px;
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    transition: 1s;
    background-color: #27cdd0e8;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}

.post3_block{
    display: flex;
    justify-content:center;
    height: auto;
    width: 100%;
}

  .post3_block .block1 , .block2 , .block3{
    margin: 34px;
    width: 26%;
    height: 511px;
    border: 1px solid black;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

  .post3_block .block1 img, .block2 img , .block3 img{
    width: 100%;
    height:235px;
}

  .block1 .text, .block2 .text , .block3 .text{
      margin-top: 100px;
} 

  .post3_block .block1 button , .block2 button, .block3 button{
      width: 125px;
      height: 35px;

      border: none;
      border-radius: 28px;

      background-color: rgb(129, 75, 231);
      color: white;

      transition: .5s;

      margin-left: 55px;
      margin-top: -6px;
}

  .post3_block .block1 button:hover , .block2 button:hover:hover, .block3 button:hover{
      background-color: black;
      transition: .5s;
      border: none;
}

  .block1 p, .block2 p, .block3 p{
    position: relative;
      font-size: 24px;
      font-family: roboto-bold;
      margin-top: 30px;
      margin-left: 55px;
      color: black;
}

  .block1 span h6, .block2 span h6, .block3 span h6{
      color: black;
      position: relative;
      width: 200px;
      height: 80px;
      margin-left: 55px;
      margin-top: 10px;
      line-height: 50px;
      font-size: 16px;
      font-family: roboto-thin, roboto, sans-serif;
}

.invite {
    display: flex;
    flex-direction: row;
    
    width: 84%;
    height: 61.6vh;

    margin: 25px 0 25px 0;
}
  
  .left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 156, 118,1);
  }
  
  .left-text {
    margin-left: 155px;
    margin-top: 60px;
    width: fit-content;
    color: black;
  }
  .left-text h1{
    width:fit-content;
    line-height:65px;
    font-size:55px;
    font-weight: bolder;
    }
    .left-text h4 {
        font-size: 28px;
        margin-top: 36px;
        line-height: 40px;

        width: 440px;
    }
    .right {
    width: 50%;
    height: 100%;
  }
  .right-form{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .right form {
    background-color: rgba(255, 215, 199, 1);
    display: flex;
    flex-wrap: wrap;
  }
.right form div{
    width: 40%;
    margin: 31px -156px 0 140px;
}
.right form .input_msg{
    padding: 35px 8px 120px 0px;
}
.right form .input_msg input {
    width: 541px;
    padding-bottom: 25px;
    height: 95px;

}

.right form div input{
    height: 52px;
    width: 225px;
    font-size: 25px;
}

.right form div p{
  font-size: 20px;
  font-weight: bolder;
}

.right form button{
    width: 100px;
    height: 55px;
    border-radius: 28px;
    background-color: rgb(129, 75, 231);
    color: white;
    transition: .5s;
    border: none;
    position: relative;
    top: 250px;
    right: 158px;
}
.right form button:hover { 
    background-color: black;
    transition: .5s;
    border: none;
}

footer {
    width: 93%;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin: 25px 65px;
}

footer .left_side_footer {
    width: 16%;
    height: 100%;
    color: black;
    border: 1px solid black;
}

footer .left_side_footer h5 {
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
    font-size: 18px;
    
    height: 100%;
    width: fit-content;

    margin-left: 99px;
    padding-top: 24px;
}

footer .left_side_footer h5 a {
    color: black;
    text-decoration: none;
}
footer .left_side_footer h5 a:hover {
    color: black;
    text-decoration: none;
}

footer .center_side_footer {
    width: 66%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer .center_side_footer .footer_input h5, h6 {
    font-size: 22px;
    color: black;
    width: 56%;
}

footer .center_side_footer .footer_input {
    width: fit-content;
    height: fit-content;
    margin-top: 60px;
}

footer .center_side_footer .footer_input input {
    height: 55px;
}

footer .center_side_footer .footer_input button {
    width: 100px;
    height: 55px;
    border-radius: 28px;
    background-color: black;
    color: white;
    transition: .5s;
    border: none;
}

footer .center_side_footer .footer_input button:hover {
    background-color: rgb(133, 78, 195);
    transition: .5s;
    border: none;
}
footer .right_side_footer{
    width: 18%;

    background-color: rgb(133, 78, 195);
}
footer .right_side_footer .footer_links {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

footer .right_side_footer .footer_links .links {
    margin-top: 10px;
}
.hamburger-menu{
    display: none; 
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 165vh;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 87%;
  
    width: 42px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 70px;
    left: -100%;
  
    width: 343px;
    height: 35.95%;
  
    margin: 0 0 0 -41px;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #fffffff2;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
    text-align: center;
  }
  .menu__box a{ 
      color: black;
      text-decoration: none;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
@media(max-width: 768px)  /* Стили под телефон   */{   
    header {
        width: 100%;
    }
    header .rightbar {
        display: none;
    }
    
    header .login {
        top: 7px;
    }

    .post1 .post1_text {
        width: 20%;
    }
    

    .post1 .post1_text1 {
        left: 227%;
    }
    .post1_text1 .view_all_btn{
        position: relative;
        bottom: -28.4%;
    }

    .post3_block .block1 img {
        width: 100%;
    }

    .post3_block .block2 img {
        width: 100%;
    }

    .post3_block .block3 img {
        width: 100%;
    }






}

@media(max-width:991.89px){

}
@media (min-width: 958px) and (max-width:1025px) { 

    .rightbar{
        display: block;
        width: fit-content;
        left: 31%;
        word-spacing:19px;
        top: 18px;
        font-size: 25px;
    }
    .hamburger-menu{
        display: block;
    }
    .menu__box{
        display: block;
    }
    .login button{
        margin: 15px 3% 15px 0;
        background: #a39ce1;
        top: 0%;
    }
    .menu__btn{
        display: none;
    }
    .login .modal-content{
        width: 71%;
    }
    .login .cancelbtn { 
        margin-right: 0px;
    }
    .login .close{
        top: 61px;
        right: 159px;
    }
    .post1{
        background-attachment: fixed;
        background-size: cover;
        height: 443px;
    }
    #post1_text{
        margin-top: 80px;
        margin-left: 70px;
    }
    #post1_text h1, h4, h5{ 
        margin-left: 0px;
    }
    #post1_text h1{
        font-size: 55px;
    }
    #post1_text h4{
        font-size: 23px;
    }
    #post1_text h5{
        font-size: 15px;
    }

    .post1_text1{
        left: 227%;
        height: fit-content;
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: fit-content;

        margin: 0 auto;
    }
    .post2{
        display: flex;
        flex-direction: column;

        width: fit-content;
        height: auto;
        
    }
    .post2 .img2{
        width: 700px;
        height: 730px;
        left: 0px;
        top: 0px;
    }
    .post2_text{
        display: flex;
        flex-direction: column;
        
        width: fit-content;
        
        left: 90px;
        top: -35px;
    }
    .post2_text2{
        width: 412px;
        left: 90px;
        top: 100px;
    }
    .trainers{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 60px;
    }
    .trainers a{
        margin-top: 60px;
    }
    .post3_block {
        display: flex;
        flex-wrap: wrap;
    }
    .post3_text1{
        margin-top: 40px;
        margin-left: 60px;
        width: fit-content;
    }
    .post3_text1 button{
        margin-left: -13px;
        margin-top: 7px;
    }

    .invite{
        margin-top: 1260px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        background: none;
        width: fit-content;
        margin-left: 12.5%;
    }

    .left{
        height: 670px;
        padding-bottom: 102px;
        width: 770px;
    }
    
    .left-text{
        margin-top: 97px;
    }

    .right{
        height: 670px;
        width: 770px;
    }

    footer{
        display: flex;
        flex-direction: row;
        width: 93%;
        margin: 650px 0 0 37px;

    }

    .left_side_footer h5{
        align-items: center;
        position: absolute;
        left: -33px;
    }
    .center_side_footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 66%;
    }


    .center_side_footer .footer_input{
        width: 99%;
        margin: 0;
        left: 7%;
        top: 19%;

    }

    footer .right_side_footer .footer_links{
        width: 18%;
        padding-left: 40px;
        padding-top: 8%;
    }
    
}
@media (min-width: 350px) and (max-width: 415px){
    header{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;

    }
    #header img{
        left: 0px;
        width: 55px;
        top: 18px;
    }
    #header h2{
        left: 63px;
        bottom: 12px;
        font-size: 35px;
        width: fit-content;
    }
    .menu-btn{
        width: 50px;
        height: 70px;
    }
    .menu-btn.active{
        text-decoration: none;
    }
    .menu-btn.active nav li a{
        color: black;
    }
    .menu{
        background: #ff9c76;
        top: 70px;
        z-index: 2;
    }
    .menu-btn span{
        display: block;
        width: 44px;
    }
    
    
    .login{
        display: none;
    }
    .post1_text1{
        display: none;
    }
    .post1{
        background-attachment: none;
        background-position: center center;

    }
    #post1_text{
        margin-left: 46px;
        margin-top: 69px;
        display: flex;
        flex-direction: column;
    }
    #post1_text h1{
        width: fit-content;
        font-size: 43px;
        margin-top: -53px;
    }
    #post1_text h4{
        font-size: 28px;
        word-spacing: 10px;
        margin: 70.3% 0 26px 0;
    }
    #post1_text h5{
        font-size: 20px;
        word-spacing: 2px;
        width: fit-content;

        margin: 3.8% 0 0 0;
    }
    #post1_text button{
        background: #673ab7;
        transition: .5s;
    }
    #post1_text button:hover{
        background: black;
        transition: .5s;
        box-shadow: 0 0 19px 25px rgb(80, 89, 114 / 22%);
}
    #post1_text button a{
        color: white;
    }
    .post2{
        display: flex;
        margin: 0 auto;
        flex-direction: column;

    }
    .post2 .post2_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        height: auto;
        left: 0;
        top: 0;
        margin-bottom: 50px;
        margin-top: 25px;
        margin: 15px 25px;
    }
    .post2 .img2{
        opacity: 1;
        width: auto;
        height: fit-content;
        top: 0;
        left: 0px;

    }
    .post2 .post2_text #text3{
        font-size: 18px;
        width: auto;
        height: auto;
    }
    .post2 .post2_text #text2{
        width: fit-content;
    }
    .post2 .trainers{ 
        display: flex;
        flex-direction: column;
    }
    .post2_text2{
        
        margin: 100px 15px 50px 23px;
        left: 0;
        top: 0;
        width: fit-content;
    }
    .post2_text2 h1{
        font-size: 35px;
        width: fit-content;
        height: 58px;
        font-weight: 600;
 
    }
    .post2_text2 p{ 
        width: fit-content;
        margin-left: 12px;
    }
    .post2 .trainers a{
        margin-bottom: 15px;
        width: auto;
        height: auto;
    }
    .challenges{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
    }
    .post3_text1{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 0 ;
        margin: 15px 20px;
    }
    .post3_text1 h1{
        width: fit-content;
        height: fit-content;
        font-size: 30px;
        padding: 0;

    }
    .post3_text1 h6{
        width: auto;
        height: auto;
        padding-top: 20px;
    }
    .post3_text1 button{
        left: 0;
        top: 0;
        width: 180px;
    }
    .post3_block{
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 0 auto;

        display: flex;
        flex-direction: column;

    }
    .post3_block .block1, .block2, .block3{
        width: auto;
        height: auto;
        margin: 18px;
    }
    .post3_block .block1 button , .block2 button, .block3 button{
        margin-bottom: 15px;
    }
    .invite{
        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        
        margin: 0;
        
        background: none;
    }
    .invite .left{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .invite .left .left-text{
        margin: 0;

        width: fit-content;

        display: flex;
        flex-direction: column;
        margin: 10px 17px;

    }
    .left-text h1{
        width: fit-content;
        font-size: 24px;
        margin-top: 25px;
        line-height: 1.4;

    }
    .left-text h4{
        margin-top: 30px;
        font-size: 21px;
        line-height: 1.3;
        width: fit-content;

    }
    .right{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;

    }
    .right-form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .right form{
        height: fit-content;
    }
    .right form div{
        width: 100%;
        margin:15px 15px;
    }
    .right form div input{
        height: 52px;
        width: 100%;

        font-size: 25px;

    }
    .right form .input_msg p{
        width: fit-content;
    }
    .right form .input_msg input{
        width: 101%;
        padding-bottom: 25px;
        height: 95px;
    }
    .right form button{
        width: 90%;

        margin: 15px 21px;
        top: -90px;  
        right: 0;
        bottom: 70px;  
    }
    footer{
        display: flex;
        flex-direction: column;

        margin: 0;
        width: 100%;
        
    }
    footer .left_side_footer{
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    footer .left_side_footer h5{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    footer .center_side_footer{
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        position: inherit;
        background: none;

    }
    footer .center_side_footer h5, h6, input{
        width: fit-content;
    }
    footer .center_side_footer h5{
        font-size: 23px;
        text-align: center;
    }
    footer .center_side_footer input{
        width: 90%;
    }

    footer .center_side_footer .footer_input {
        left: 0;
        top: 0;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 15px;
        margin: 15px 15px;

    }
    footer .center_side_footer .footer_input button{
        width: 300px;   
        margin-top: 15px;
    }
    footer .right_side_footer {
        width: 100%;
        margin-top: 90px;
    }
    footer .right_side_footer .footer_links{
        position: inherit;
        
        padding-top: 39px;
        margin-top: 15px;
        padding-left: 0;

        width: 100%;
        height: 30vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;



    }
}
