*{
    margin: 0;
    padding: 0;
    font-family: roboto-thin,roboto,sans-serif;

}
body{
    background-color: rgb(173, 128, 128);
    height: auto;
    width: auto;
}
header{
    position: fixed;
    width: 120em;
    height: 70px;    
    background-color: rgb(255, 156, 118);
    left: 0%;
    top: 0px;
    z-index: 1;
}

header img { 
    position: relative;
    border-radius: 10px;
    width: 40px;
    top: 13px;
    left: 20px;

}
header h2{
    position: relative;
    bottom: 40px;
    left: 63px;
}
.rightbar { 
    position: fixed;
    left: 62%;
    top: 30px;
    text-align: center;
    font-size: 24px;
    word-spacing: 23px;
}
.rightbar a{
    scroll-behavior:  smooth;
}
.login{
    position: fixed;
    top: 2%;
    right: 3%;
    word-spacing: 31px;
    font-size: 24px;
}
.login a{ 
    text-decoration: none;
    font-size: 28px;
    border: 1px solid;
    border-radius: 25px;
    background-color: darkgrey;
}
.container{
    height: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/* .post1  .post2{
    overflow-y: scroll;
    scroll-behavior: smooth;
} */
.post1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/img1.webp);
    height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 196.4vh;
    /* position: absolute; */
    margin-top: 62px;
    margin-left: -20px;
}

#post1_text{ 
    padding-top: 15px;
    /* position: unset; */
    animation: post1 2.5s 1;
    margin-bottom: -20px;
    opacity: 1;
    width: 40%;
}
@keyframes post1 { 
    0%{
        position: absolute;
        margin-left: -150px;
        opacity: 0;
    }
}

#post1_text h1{
    position: unset;
    /* display: block; */
    /* top: 26px; */
    font-family: roboto bold, roboto, sans-serif;
    font-size: 68px;
    /* left: 46px;  */
    /* width: 28%; */
    margin-left: 48px;
}
#post1_text h4{
    position: unset;
    /* top: 22%; */
    /* left: 46px; */
    font-size: 30px;
    word-spacing: 10px;
    margin: 0.3% 6.3% 0;
}
#post1_text h5{
    position: unset;
    /* top: 15px; */
    /* left: 45px; */
    /* width: 35%; */
    font-size: 19px;
    word-spacing: 3px;
    letter-spacing: 0px;
    margin: 0.8% 6.3% 0;
}
#post1_text button{
    position: unset;
    width: 170px;
    /* top: 4vh; */
    word-spacing: 4.5px;
    text-align: center;
    /* left: 5vh; */
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
    background-color: lightskyblue;
    margin: 3% 6.3% 0;
}
#post1_text button:hover{
    position: relative;
    /* width: 180px; */
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 19px;
    transition: 1.5s;
    background-color: #27cdd0e8;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}
.post1_text1{
    width: 342px;
    background-color: white;
    height: 94vh;
    position: absolute;
    right: 0px;
    top: 62px;
    animation: post1_text1 3s 1;
}

@keyframes post1_text1{
    0%{position: absolute;
       right: -300px;
    }

}
.post1_text1 .challenge1{
    width: 290px;
    height: 285px;
    color: black;
    border: 1px solid black;
    position: relative;
    left: 26px;
    top: 70px;
}
.post1_text1 .challenge1 .text{
    width: 100%;
    font-family: roboto-bold, roboto, sans-serif;
    margin-left: 25px;
    font-size: 15px;
}
.post1_text1 .challenge1 button{
    border: 1px solid black;
    border-radius: 18px;
    color: white;
    width: 100px;
    height: 35px;
    position: relative;
    top: 26px;
    left: 83px;
    background-color: rgb(129, 75, 231);
}
.post1_text1 .challenge1 button:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
}
.post1_text1 .challenge2{
    width: 290px;
    height: 285px;
    color: black;
    border: 1px solid black;
    position: relative;
    left: 26px;
    top: 115px;
}
.post1_text1 .challenge2 .text{
    width: 100%;
    font-family: roboto-bold, roboto, sans-serif;
    margin-left: 16px;
    font-size: 14px;
}
.post1_text1 .challenge2 button{
    border: 1px solid black;
    border-radius: 18px;
    color: white;
    width: 100px;
    height: 35px;
    position: relative;
    top: 26px;
    left: 83px;
    background-color: rgb(129, 75, 231);
}
.post1_text1 .challenge2 button:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
}
.post1_text1 .challenge1 button{
    margin-left: 10px;
}
.post1_text1 .challenge2 button{
    margin-left: 10px;
}

.vievAll_btn{
    width: 100%;
    height: 110px;
    background-color: orange;
    position: inherit;
    bottom: 0px;
}
.post2{
    background-color: rgb(103, 173, 124);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 196.4vh;
    position: unset;
    margin-top: 62px;
    margin-left: -20px;
}

.post2_text{ 
    position: relative;
    left: 115vh;
    bottom: 50vh;
    width: 500px;
    animation: post2text 9s 1;
    opacity: 1;
}
@keyframes post2text{
    0%{
        opacity: 0;
    }
    50%{
        margin-left: -80px;
        opacity: 0;
    }
}
.post2_text #text1{
    font-size: 48px;
    font-family: roboto-bold, roboto, sans-serif;
    color: #000000;
    position: unset;
    font-weight: 700;
}
.post2_text #text2{
    font-size: 21px;
    font-family: roboto-thin, roboto, sans-serif;
    width: 316px;
    height: 54px;
}
.post2_text #text3{
    color: #6e6e6e;
    font-size: 16px;
    font-family: roboto-thin,roboto,sans-serif;
    width: 390px;
    height: 119px;
}
.post2_text button{
    position: unset;
    width: 170px;
    /* top: 4vh; */
    word-spacing: 4.5px;
    text-align: center;
    /* left: 5vh; */
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
    background-color: lightskyblue;
    margin: 5% 6.3% 1% 2%;
}
.post2_text button:hover{
    position: relative;
    /* width: 180px; */
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 19px;
    transition: 1.5s;
    background-color: #27cdd0e8;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}
.post2_text2 {
    position: relative;
    bottom: 21vh;
    left: 120px;
    width: 600px;
    font-family: sans-serif;
}
.post2_text2 h1{
    width: 766px;
    height: 58px;
    font-family: roboto-bold, roboto, sans-serif;
    font-size: 48px;
}
.post2_text2 p {
    width: 550 px;
    height: 44 px;
    color: #6e6e6e;
    font-family: roboto-thin, roboto, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
.trainers {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.trainers a {
    display: block;
    width: 712px;
    height: 948px;
    float: left;
    position: relative;
    line-height: 0;
    text-decoration: none;
}
.trainers a:after {
	content: "";
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.trainers a:hover:after {
	position: absolute;
	top: 0;    
	left: 0;   
	display: block;
	width: 100%;
	height: 100%;    
	background: transparent;
	background-image: linear-gradient(180deg, rgba(107,90,221,0), rgba(107,90,221,1)); 
	opacity: 0.8;    
}
.trainers a:before {
	content: "TRAINERS";
    color: white;
    font-size: 30px;
	opacity: 0;    
	transition: opacity 0.5s;
}
.trainers a:hover:before {
	display: inline-block;
	width: 52px;
	height: 52px;
	position: absolute;
	top: 50%;
	left: 50%;  
	margin: -26px 0 0 -26px;
	z-index: 100;    
	opacity: 1;
}
.trainers img {
	width: 100%;
	height: auto;
}
/* .trainers img #woman:hover::after{
    content: "First Trainer";
    width: 150px;
    height: 30px;

} */
.challenges {
    position: relative;
    background-color: rgb(197, 95, 146);
    height: 1666px;
}
.post3_text1 {
    width: 87%;
    height: 250px;
    color: #000000;
    font-family: roboto-bold, roboto, sans-serif;
    margin-top: 70px;
    padding-top: 62px;
    padding-left: 120px;
    text-align: left;
    animation: challenges 1s 1;
    opacity: 1;
}
@keyframes challenges {
    0%{
        margin-left: -100px;
        opacity: 0;
    }
}
.post3_text1 h1 {
    width: 550px;
    height: 58px;
    font-size: 48px;
}
.post3_text1 h6 {
    width: 580px;
    height: 44px;
    font-size: 16px;
    color: #6e6e6e;
    padding-top: 20px;
}


.post3_text1 button{
    position: relative;
    left: 89%;
    bottom: 130px;
    width: 170px;
    word-spacing: 4.5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
    background-color: lightskyblue;
    animation: btn 1s 1;
    opacity: 1;
}
@keyframes btn {
    0%{
        margin-right: 150px;
        opacity: 0;
    }
}
.post3_text1 button:hover{
    margin-left: -15px;
    position: relative;
    width: 195px;
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 19px;
    transition: 1s;
    background-color: #27cdd0e8;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}
.post3_block{
    display: inline-block;
    position: relative;
    width: 951px;
    height: 520px;
    left: -20px;
}
.post3_block .block1{
    position: relative;
    width: 495px;
    height: 511px;
    left: 15%;
    border: 1px solid black;
}
.post3_block .block2{
    position: relative;
    width: 495px;
    height: 511px;
    left: 76%;
    bottom: 99%;
    border: 1px solid black;
}
.post3_block .block3{
    position: relative;
    width: 495px;
    height: 511px;
    left: 138%;
    bottom: 105vh;
    border: 1px solid black;

}
.block1 p {
    position: relative;
    font-size: 24px;
    font-family: roboto-bold;
    margin-top: 30px;
    margin-left: 55px;
    color: black;
}
.block1 span h6{
    color: black;
    position: relative;
    width: 200px;
    height: 80px;
    margin-left: 55px;
    margin-top: 10px;
    line-height: 50px;
    font-size: 16px;
    font-family: roboto-thin, roboto, sans-serif;
}
.block2 p {
    position: relative;
    font-size: 24px;
    font-family: roboto-bold;
    margin-top: 30px;
    margin-left: 55px;
    color: black;
}
.block2 span h6{
    color: black;
    position: relative;
    width: 200px;
    height: 80px;
    margin-left: 55px;
    margin-top: 10px;
    line-height: 50px;
    font-size: 16px;
    font-family: roboto-thin, roboto, sans-serif;
}
.block3 p {
    position: relative;
    font-size: 24px;
    font-family: roboto-bold;
    margin-top: 30px;
    margin-left: 55px;
    color: black;
}
.block3 span h6{
    color: black;
    position: relative;
    width: 200px;
    height: 80px;
    margin-left: 55px;
    margin-top: 10px;
    line-height: 50px;
    font-size: 16px;
    font-family: roboto-thin, roboto, sans-serif;
}
#invite{
    position: relative;
    width: 1664px;
    border: 1px solid black;
    display: inline-block;
    bottom: 86vh;
    right: -6.44%;
    height: 670px;
}
#invite .left{
    position: relative;
    width: 831px;
    height: inherit;
    text-align: center;
    left: 0px;
    background-color: burlywood;
}
#invite .left .invite_left_text{
    position: inherit;
    text-align: left;
    top: 200px;
    left: 225px;
    font-size:  24px;
}
#invite .right {
    width: 832px;
    border: 1px solid black;
    left: 830px;
    height: 670px;
    position: relative;
    bottom: 100.1%;
}
.right .invite_right_text p{
    font-size: 16px;
    font-family: roboto-thin,roboto,sans-serif;
}
.right .invite_right_text input{
    height: 52px;
    margin-top: 10px;
    font-size: 20px;
    width: 225px;
}
.right .invite_right_text .first_name{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
    top: 145px;
    left: 180px;
}
.right .invite_right_text .second_name {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
    top: 145px;
    left: 350px;
}
.right .invite_right_text .email {
    position: relative;
    width: 120px;
    height: 40px;
    top: 200px;
    left: 180px;

}
.right .invite_right_text .Subject {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
    top: 160px;
    left: 474px;
}
.right .invite_right_text .input_msg {
    position: relative;
    width: 467px;
    height: 135px;
    top: 200px;
    left: 180px;
}    
.right .invite_right_text .input_msg input{
    height: 150px;
    width: 519px;
}