*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(173, 128, 128);
    height: auto;
    width: auto;
}
header{
    position: fixed;
    width: 120em;
    height: 70px;    
    background-color: rgb(255, 156, 118);
    left: 0%;
    top: 0px;
    z-index: 1;
}

header img { 
    position: relative;
    border-radius: 10px;
    width: 40px;
    top: 13px;
    left: 20px;

}
header h2{
    position: relative;
    bottom: 40px;
    left: 63px;
}
.rightbar { 
    position: fixed;
    left: 66%;
    top: 30px;
    text-align: center;
    font-size: 24px;
    word-spacing: 11px;
}
.rightbar a{
    scroll-behavior:  smooth;
}
.login{
    position: fixed;
    top: 2%;
    right: 3%;
    word-spacing: 31px;
    font-size: 24px;
}
.login a{ 
    text-decoration: none;
    font-size: 28px;
    border: 1px solid;
    border-radius: 25px;
    background-color: darkgrey;
}
.container{
    height: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
/* .post1  .post2{
    overflow-y: scroll;
    scroll-behavior: smooth;
} */
.post1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/img1.webp);
    height: 99vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 196.4vh;
    /* position: absolute; */
    margin-top: 62px;
    margin-left: -8px;
}

#post1_text{ 
    padding-top: 15px;
    /* position: unset; */
    animation: post1 2.5s 1;
    margin-bottom: -20px;
    opacity: 1;
    width: 40%;
}
@keyframes post1 { 
    0%{
        margin-left: -150px;
        opacity: 0;
    }
}

#post1_text h1{
    position: unset;
    /* display: block; */
    /* top: 26px; */
    font-family: roboto bold, roboto, sans-serif;
    font-size: 68px;
    /* left: 46px;  */
    /* width: 28%; */
    margin-left: 48px;
}
#post1_text h4{
    position: unset;
    /* top: 22%; */
    /* left: 46px; */
    font-size: 30px;
    word-spacing: 10px;
    margin: 0.3% 6.3% 0;
}
#post1_text h5{
    position: unset;
    /* top: 15px; */
    /* left: 45px; */
    /* width: 35%; */
    font-size: 19px;
    word-spacing: 3px;
    letter-spacing: 0px;
    margin: 0.8% 6.3% 0;
}
#post1_text button{
    position: unset;
    width: 170px;
    /* top: 4vh; */
    word-spacing: 4.5px;
    text-align: center;
    /* left: 5vh; */
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
    background-color: lightskyblue;
    margin: 3% 6.3% 0;
}
#post1_text button:hover{
    position: relative;
    /* width: 180px; */
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 19px;
    transition: 1.5s;
    background-color: #27cdd0e8;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}


/* .post2{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: rgb(103, 173, 124);
} */
.post2{
    background-color: rgb(103, 173, 124);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 196.4vh;
    position: unset;
    margin-top: 62px;
    margin-left: -8px;
}
.post2_text{ 
    position: relative;
    left: 125vh;
    bottom: 73vh;
    width: 500px;
    animation: post2text 9s 1;
    opacity: 1;
}
@keyframes post2text{
    0%{
        opacity: 0;
    }
    50%{
        margin-left: -80px;
        opacity: 0;
    }
}
.post2_text #text1{
    font-size: 48px;
    font-family: roboto-bold, roboto, sans-serif;
    color: #000000;
    position: unset;
    font-weight: 700;
}
.post2_text #text2{
    font-size: 21px;
    font-family: roboto-thin, roboto, sans-serif;
    width: 316px;
    height: 54px;
}
.post2_text #text3{
    color: #6e6e6e;
    font-size: 16px;
    font-family: roboto-thin,roboto,sans-serif;
    width: 390px;
    height: 119px;
}
.post2_text button{
    position: unset;
    width: 170px;
    /* top: 4vh; */
    word-spacing: 4.5px;
    text-align: center;
    /* left: 5vh; */
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
    background-color: lightskyblue;
    margin: 5% 6.3% 1% 2%;
}
.post2_text button:hover{
    position: relative;
    /* width: 180px; */
    word-spacing: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 19px;
    transition: 1.5s;
    background-color: #27cdd0e8;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}
.post2_text2 {
    position: relative;
    bottom: 21vh;
    left: 205px;
    width: 600px;
    font-family: sans-serif;
}
.post2_text2 h1{
    width: 766px;
    height: 58px;
    font-family: roboto-bold, roboto, sans-serif;
    font-size: 48px;
}
.post2_text2 p {
    width: 550 px;
    height: 44 px;
    color: #6e6e6e;
    font-family: roboto-thin, roboto, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
.trainers {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;}
.trainers a {
    display: block;
    width: 712px;
    height: 948px;
    float: left;
    position: relative;
    line-height: 0;
}
.trainers a:after {
	content: "";
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.trainers a:hover:after {
    
	position: absolute;
	top: 0;    
	left: 0;   
	display: block;
	width: 100%;
	height: 100%;    
	background: transparent;
	background-image: linear-gradient(180deg, rgba(107,90,221,0), rgba(107,90,221,1)); 
	opacity: 0.8;    
}
.trainers a:before {
	content: "TRAINERS";
    font-size: 20px;
	opacity: 0;    
	transition: opacity 0.5s;
}
.trainers a:hover:before {
	display: inline-block;
	width: 52px;
	height: 52px;
	position: absolute;
	top: 50%;
	left: 50%;  
	margin: -26px 0 0 -26px;
	z-index: 100;    
	opacity: 1;
}
.trainers img {
	width: 100%;
	height: auto;
}
/* .trainers img #woman:hover::after{
    content: "First Trainer";
    width: 150px;
    height: 30px;

} */