@keyframes moving{
    from{ left: 0%;}
    to { left: 20%;}
}
@-webkit-keyframes moving{ 
    from{ left: 0%;}
    to { left: 20%;}
}
#post1_text{
    animation: moving 5s infinite;
    -webkit-animation: moving 5s infinite;
    position: relative;
}
body{
    background-color: rgb(173, 128, 128);
}
header{
    position: fixed;
    width: 120em;
    height: 70px;    
    background-color: rgb(255, 156, 118);
    left: 0%;
    top: 0px;
}

header img { 
    position: relative;
    border-radius: 10px;
    width: 40px;
    top: 13px;
    left: 20px;

}
header h2{
    position: relative;
    bottom: 40px;
    left: 63px;
}
.rightbar { 
    position: fixed;
    left: 66%;
    top: 30px;
    text-align: center;
    font-size: 24px;
    word-spacing: 11px;
}
.login{
    position: fixed;
    top: 2%;
    right: 3%;
    word-spacing: 31px;
    font-size: 24px;
}
.login a{ 
    text-decoration: none;
    font-size: 28px;
    border: 1px solid;
    border-radius: 25px;
    background-color: darkgrey;
}
.post1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../fitness/img1.webp);
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#post1_text h1{
    position: fixed;
    top: 26px;
    font-family: orelega-one;
    font-size: 69px;
    left: 46px;
}
#post1_text h4{
    position: fixed;
    top: 22%;
    left: 46px;
    font-size: 30px;
    word-spacing: 10px;
}
#post1_text h5{
    position: fixed;
    top: 29%;
    left: 45px;
    width: 35%;
    font-size: 23px;
    word-spacing: 6px;
    letter-spacing: 1px;
}