
body{
    background-color: rgb(173, 128, 128);
}
header{
    position: fixed;
    width: 120em;
    height: 70px;    
    background-color: rgb(255, 156, 118);
    left: 0%;
    top: 0px;
}

header img { 
    position: relative;
    border-radius: 10px;
    width: 40px;
    top: 13px;
    left: 20px;

}
header h2{
    position: relative;
    bottom: 40px;
    left: 63px;
}
.rightbar { 
    position: fixed;
    left: 66%;
    top: 30px;
    text-align: center;
    font-size: 24px;
    word-spacing: 11px;
}
.login{
    position: fixed;
    top: 2%;
    right: 3%;
    word-spacing: 31px;
    font-size: 24px;
}
.login a{ 
    text-decoration: none;
    font-size: 28px;
    border: 1px solid;
    border-radius: 25px;
    background-color: darkgrey;
}
.post1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../fitness/img1.webp);
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
/* 
@keyframes moving {
    0% {left: 0px;}
    100%{left: 200px}
    }
@-webkit-keyframes moving {
       from {left: 0px;}
    to {left: 200px;}
}
#post1_text {
    animation: moving 3s infinite; 
    -webkit-animation: moving 3s infinite; 
    animation-fill-mode: both;
    position:absolute;
} */

#post1_text h1{
    position: fixed;
    top: 26px;
    font-family: orelega-one;
    font-size: 69px;
    left: 46px;
}
#post1_text h4{
    position: fixed;
    top: 22%;
    left: 46px;
    font-size: 30px;
    word-spacing: 10px;
}
#post1_text h5{
    position: fixed;
    top: 29%;
    left: 45px;
    width: 35%;
    font-size: 23px;
    word-spacing: 6px;
    letter-spacing: 1px;
}
#post1_text button{
    position: relative;
    width: 180px;
    top: 45vh;
    word-spacing: 4.5px;
    text-align: center;
    left: 20vh;
    border: 1px solid black;
    border-radius: 30px;
    height: 60px;
    font-size: 17px;
    transition: 1s;
}
#post1_text button:hover{
    position: relative;
    width: 180px;
    /* top: 44vh; */
    word-spacing: 5px;
    text-align: center;
    /* left: 19vh; */
    border: 1px solid black;
    border-radius: 10px;
    /* height: -5px; */
    font-size: 19px;
    transition: 1.5s;
    background-color: #aa3ec2c4;
    box-shadow: 0px 0px 19px 25px rgb(54 79 150 / 65%);
}